/apiserver.local.config
/bin
/default.etcd
/kubeconfig
/config/crds/
# Ignore binaries built by the makefile to avoid accidentally committing them
/build/kubefed/hyperfed
/build/kubefed/controller-manager

# editor and IDE paraphernalia
.idea
.vscode

# macOS paraphernalia
.DS_Store
./Makefile
